datasets/pre_data/*
datasets/demo/*
!/datasets/pre_data/*.py
!/datasets/pre_data/*.ipynb
datasets/MPEFT/*
!/datasets/MPEFT/*.py
!/datasets/MPEFT/*.ipynb
resources/*
!resources/*.py
saved/
__pycache__/
*.out
submission/
log/
m_saved/
m_log/
results/*
!/results/*.py
!/results/*.
!/results/*.ipynb
datasets/cblue/*
!/datasets/cblue/*.py
!/datasets/cblue/*.ipynb